<%= form_tag(features_path, :id => 'create-new-feature') do %>
  <%= text_field_tag :name, nil, :id => 'new-feature-name', :placeholder => 'Add a new feature' %>
  <%= submit_tag 'Create', :id => 'new-feature-submit' %>
<% end %>

<%= form_tag(groups_path, :id => 'create-temp-group') do %>
  <%= text_field_tag :name, nil, :id => 'new-group-name', :placeholder => 'Add a new intersection group' %>
  <%= submit_tag 'Create', :id => 'new-group-submit' %>
<% end %>

<ul id="features">
  <% @features.each do |feature| %>
    <li id="<%= feature.name %>" class="feature clearfix"><%= render 'feature', :feature => feature %></li>
  <% end %>
</ul>

<% content_for :onready do %>
  $("select").chosen({no_results_text: "No groups matched"});
  $("input.users").chosen();

  $("select, input.users").change(function() {
    $(this).closest("form").submit();
  });
<% end %>
